### General ###
*.lock

### Jekyll ###
_site/

### Sass ###
.sass-cache

### Bootstrap js under _sass ### 
_sass/bootstrap/js

fontawesome/

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
.DS_store
.idea/
Icon*