---
layout: flexible
title: Frequently Asked Questions
---

<!-- This script tag will allow google search to index these FAQs in search results -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for faqItem in site.data.faq %}
    {
      "@type": "Question",
      "name": "{{faqItem.question}}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{faqItem.answer}}"
      }
    }{% if forloop.index != site.data.faq.size %},{% endif%}
    {% endfor %}
  ]
}
</script>

<p><b>PyConf Hyderabad 2019</b> is the regional gathering of Pythonistas and the largest Python Conference in Hyderabad.This is the 2nd Edition of the Conference which is going to be held on Dec 7-8 at IIIT Hyderabad</p>

<p>PyConf Hyderabad will have 3 major events <b>Conference</b>, <b>Workshop</b> and <b>Devsprints</b>. </p>

<p><b>Workshops</b> will be held on 7th Dec at T-Hub, IIIT Hyderabad. On the workshop day, people can attend hands-on workshops, and learn about a topic from an expert.</p>
<p><b>Devsprints</b> will be held on 7th Dec at T-Hub, IIIT Hyderabad. This will be going parallely with Workshops. During the Devsprints people contribute to open source projects, guided by mentors. This is a nice way to get started with contributing to Python and other open source projects.</p>
<p>Workshops and Devsprints have a common ticket. Buying a Workshop/Devsprints ticket gives you full day access to attend any Workshop/Devsprint of your choice.</p>

<p><b>Conference</b> will be held on 8th Dec at IIIT Hyderabad. On the conference days, people connect with each other, discuss their experiences and present their ideas.</p>
<ul>
  <li><b>Talks</b> is where people do a 25 min talk, on a topic. These talks are selected through a CFP process, before the event. There will be 2 parallel tracks, where presentations will happen in parallel.</li>
  <li><b>Lightning talks</b> are rapid 5 min presentations, that is presented to the entire conference crowd, a great way to get a message across to the entire audience.</li>
  <li><b>Sponsor Stalls</b> are where you can meet companies supporting the conference. These companies use Python and are looking for Python developers. You can visit their stalls to get to know more about them, and the openings in their organization.</li> 
</ul>

<p>Conference Ticket gives you full day access to all events on the Conference Day on 8th Dec.</p>

{% for faqItem in site.data.faq %}
<h5> Q. {{ faqItem.question}}</h5>
<p>{{ faqItem.answer }}</p>
{% endfor %}