	<section id="about-section" class="about-section section theme-bg-light pb-2">
		<div class="container">
			<h3 class="section-heading text-center mb-3">About PyConf Hyderabad</h3>
			<div class="section-intro single-col-max mx-auto mb-4">PyConf Hyderabad is the regional gathering for the community that uses and develops the open-source Python Programming Language.</div>
			{% comment %} <div class="benefits-list text-center mb-3">
				<h4 class="text-center mb-4">Why Join Us</h4>
				<ul class="list-unstyled text-left d-inline-block">
					<li><i class="fas fa-check-circle mr-2"></i>Unique chance to lorem ipsum dolor</li>
					<li><i class="fas fa-check-circle mr-2"></i>Learn from the best in the industry</li>
					<li><i class="fas fa-check-circle mr-2"></i>Discover the best tools and practices</li>
					<li><i class="fas fa-check-circle mr-2"></i>Meet developers from all over the world</li>
					<li><i class="fas fa-check-circle mr-2"></i>Grow your network</li>
					<li><i class="fas fa-check-circle mr-2"></i>Practical workshops to lorem ipsum dolor</li>
					<li><i class="fas fa-check-circle mr-2"></i>After-party lorem ipsum dolor</li>
					<li><i class="fas fa-check-circle mr-2"></i>Free <a href="https://made4dev.com">developer t-shirts</a> and swag</li>
				</ul>
			</div><!--//benefits-list--> {% endcomment %}
			<!-- <div class="event-countdown text-center mb-3 pb-3">		   
				<h4 class="countdown-intro mb-2 text-center mb-3">Event Starts In:</h4>
				<div id="countdown-box" class="countdown-box"></div>
			</div>//event-countdown -->
		</div><!--//container-->

		{% comment %} <div class="media-block theme-bg-primary py-5">
			<div class="container">
				<h4 class="text-white text-center mb-3">Previously</h4>
				<div class="section-intro text-center single-col-max mx-auto text-white mb-5">Conference videos and images from previous years is a great way to show people what to expect at the conference and entice them to join. You can host more media content on YouTube, Flickr or Instagram and link out to them in this section.</div>
				<div class="row">
					<div class="col-12 col-md-6 mb-3">
						<div class="embed-responsive embed-responsive-16by9">
							
							<iframe width="560" height="315" src="https://www.youtube.com/embed/stjniziaxy4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!--//embed-responsive -->
					</div><!--//col-->
					<div class="col-12 col-md-6 mb-md-5">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NPYqnGNO_zw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div><!--//embed-responsive -->
					</div><!--//col-->
				</div><!--//row-->
			</div><!--//container-->
		</div><!--//media-block--> {% endcomment %}
	</section><!--//about-section-->
	