<header id="header" class="header fixed-top">	    
		<div class="branding">
			<div class="container-fluid">
				<nav class="main-nav navbar navbar-expand-lg">
					<div class="site-logo"><a href="/"><img class="logo-icon" src="assets/images/pyconf_logo__dark_bg.png" alt="logo"></a></div>    
					
					<div class="navbar-btn order-lg-2"><a class="btn btn-secondary disabled" href="{{ site.tickets_link }}" target="_blank">Buy Tickets</a></div>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div id="navigation" class="navbar-collapse collapse  justify-content-lg-end mr-lg-3">
						<ul class="nav navbar-nav">
							{% for navitem in site.data.navigation %}
								<li class="nav-item"><a class="nav-link scrollto" href="index.html{{ navitem.href }}">{{ navitem.item }}</a></li>
							{% endfor %}
						</ul><!--//nav-->
					</div><!--//navabr-collapse-->

				</nav><!--//main-nav-->
				
			</div><!--//container-->
		</div><!--//branding-->
	</header><!--//header-->