{% capture title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} {% endcapture %}

<head>
	<title>{{ title }}</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="HydPy Hyderabad">
	<meta name="keywords" content="{{ site.keywords }}">
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="robots" content="index, follow">

	<meta name="title" content="{{ title }}">

	<!-- include manifest-->
	<link rel="manifest" href="/manifest.json">

	<!-- include service worker -->
	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js');
			});
		}
	</script>
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://pyconf.hydpy.org/2019/">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:image" content="{{ social_image_link }}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@pyconfhyd">
	<meta name="twitter:creator" content="@pyconfhyd">
	<meta property="twitter:url" content="https://pyconf.hydpy.org/2019/">
	<meta property="twitter:title" content="{{ title }}">
	<meta property="twitter:description" content="{{ site.description }}">
	<meta property="twitter:image" content="{{ social_image_link }}">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js"></script>

	<!-- Preload assets-->
	<link rel="preload" href="{{ site.baseurl }}assets/css/main.css" as="style">

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148993906-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-148993906-1');
	</script>

	{% include event_schema.html %}

</head> 