	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active">
				</div>
				<div class="carousel-item-2 carousel-item">
				</div>
				<div class="carousel-item-3 carousel-item">
				</div>
				<div class="carousel-item-4 carousel-item">
				</div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
				<h1 class="hero-heading mb-2">PyConf Hyderabad 2019</h1>
				<div class="hero-meta mb-3"><i class="far fa-calendar-alt mr-2"></i>7 - 8 December <i class="fas fa-map-marker-alt mx-2"></i>IIIT Hyderabad</div>
				<div class="hero-intro mb-4">Hyderabad's biggest Python Conference</div>
				<div class="hero-cta">
					<div class="row">
						<div class="col-md-4">
							<a class="btn btn-primary btn-block btn-lg my-2" href="https://photos.google.com/share/AF1QipNHLACnFFOkONWzV2hCCXMnwg8tlHyDL3ePLq8rg93_d0dNE3oqt3b0lpdKbqRbGA?key=b0FWNldsYzFlRXFXNkQ5NHpDWkxkaVhneUFxNHd3" target="_blank">Photos</a>
						</div>
						<div class="col-md-4">
							<a class="btn btn-primary btn-block btn-lg my-2" href="https://pyconf.hydpy.org/PyConf19Slides/" target="_blank">Slides</a>
						</div>
					</div>
				</div>
				
			</div><!--//hero-text-block-->
		</div><!--//container-->

	</div><!--//hero-block-->