									{% unless track.speaker == "TBD" or track.speaker == "" %}
										{% assign speaker = site.data.speakers[ track.speaker ] %}
										{% if speaker.name and speaker.name != '' %}
										  {% assign speaker_name = speaker.name %}
										{% else %}
										  {% assign speaker_name = track.speaker %}
										{% endif %}
										<div class="desc">By: <a class="link" href="#modal_speaker" data-toggle="modal" data-speaker="{{ track.speaker }}">{{ speaker_name }}</a></div>
									{% endunless %}
