<div id="modal_speaker" class="modal modal-speaker" tabindex="-1" role="dialog" aria-labelledby="modal_speaker_Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal_speaker_label" class="modal-title sr-only">Speaker Name</h4>
			</div>
			<div class="modal-body p-0">
				<div class="media flex-column flex-md-row theme-bg-light p-4 p-lg-5">
					<img id="modal_speaker_photo" class="profile-image mb-3 mb-md-0 mr-md-4 rounded-circle mx-auto" src="" alt="" />

					<div class="media-body text-center text-md-left mx-auto">
						<h2 id="modal_speaker_name" class="name mb-2">Speaker Name</h2>
						<div id="modal_speaker_job" class="meta">Job Title Or Position</div>
						<div id="modal_speaker_company" class="meta mb-2">Company Or Organization</div>
						<ul id="modal_speaker_social" class="social-list list-inline mb-0">
							<li id="modal_speaker_github" class="list-inline-item"><a href="#"><i class="fab fa-fw fa-github"></i></a></li>
						</ul>
						<!--//social-list-->
					</div>
					<!--//media-body-->
				</div>
				<!--//media-->

				<div id="modal_speaker_about" class="desc p-4 p-lg-5"></div>
			</div>
			<!--//modal-body-->
		</div>
		<!--//modal-content-->
	</div>
	<!--//modal-dialog-->
</div>
<!--//modal-->
