<div id="modal_sponsor" class="modal modal-sponsor" tabindex="-1" role="dialog" aria-labelledby="modal_sponsor_Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal_sponsor_label" class="modal-title sr-only">Sponsor Name</h4>
			</div>
			<div class="modal-body p-0">
				<div class="media flex-column flex-md-row theme-bg-light p-4 p-lg-5">
					<div class="media-body text-center text-md-left mx-auto">
						<h2 id="modal_sponsor_name" class="name mb-2">Sponsor Name</h2>
						<a href="#" id="modal_sponsor_link" target="_blank">Visit website <i class="fas fa-external-link-alt"></i></a>
						<!--//social-list-->
					</div>
					<!--//media-body-->
				</div>
				<!--//media-->
				<div class="modal-sponsor__photo">
					<img id="modal_sponsor_photo" class="profile-image text-center mt-5" src="" alt="sponsor_image" />
				</div>
				<div id="modal_sponsor_description" class="desc p-4 p-lg-5"></div>
			</div>
			<!--//modal-body-->
		</div>
		<!--//modal-content-->
	</div>
	<!--//modal-dialog-->
</div>
<!--//modal-->
