<section id="schedule-section" class="schedule-section section">
	<div class="container">
		<h3 class="section-heading text-center mb-5">Schedule</h3>

		<!-- Nav tabs -->
		<ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
			<li class="nav-item mr-2">
				<a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
					<span class="heading">Day 1</span>
					<span class="meta">(Sat 7, Dec)</span>
				</a>
			</li>
			<li class="nav-item mr-2">
				<a class="nav-link" id="tab-2" data-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">
					<span class="heading">Day 2</span>
					<span class="meta">(Sun 8, Dec)</span>
				</a>
			</li>
		</ul>


		<!-- Tab panes -->
		<div class="schedule-tab-content tab-content">
			<div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">


		{% for schedule in site.data.schedule.workshops %}
			{% for workshop in schedule.workshops %}

				{% if workshop.type != "other" %}
					<!-- workshop structure dynamic -->
					<div class="row item item-talk">

						<div class="col-md-3">
							<div class="meta">
								<h4 class="time mb-3 center-align">{{ workshop.time }}</h4>
							</div><!--//meta-->
						</div>

						{% for track in workshop.tracks %}
							{% assign colwidth = 9 | divided_by: forloop.length %}
							<div class="col-md-{{ colwidth }}">
								<div class="content">
									<h3 class="title mb-3">{% include link-workshop.html %}</h3>
									{% include link-speaker.html %}
									<div class="badge badge-light"> Track {{ forloop.index }}</div>
								</div><!--//content-->
							</div>
						{% endfor %}

					</div><!-- workshop ends -->
				{% else %}
					<!-- break?other structure dynamic -->
					<div class="row item item-other">

						<div class="col-md-4">
							<div class="meta">
								<h4 class="time center-align">{{ workshop.time }}</h4>
							</div><!--//meta-->
						</div>

						{% for track in workshop.tracks %}
							<div class="col-md-8">
								<div class="content">
									<h3 class="title mb-3">{{ track.title }}</h3>
								</div><!--//content-->
							</div>
						{% endfor %}

					</div><!-- workshop ends -->
				{% endif %}

			{% endfor %}
		{% endfor %}


		</div><!--//tab-1-content-->
		<div class="tab-pane" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
		{% for schedule in site.data.schedule.talks %}
			{% for talk in schedule.talks %}

				{% if talk.type != "other" %}
					<!-- workshop structure dynamic -->
					<div class="row item item-talk">

						<div class="col-md-4">
							<div class="meta">
								<h4 class="time mb-3 center-align">{{ talk.time }}</h4>
							</div><!--//meta-->
						</div>

						{% for track in talk.tracks %}
							{% assign colwidth = 8 | divided_by: forloop.length %}
							<div class="col-md-{{ colwidth }}">
								<div class="content">
									<h3 class="title mb-3">{% include link-workshop.html %}</h3>
									{% include link-speaker.html %}
									<div class="badge badge-secondary"> Track {{ forloop.index }}</div>

								</div><!--//content-->
							</div>
						{% endfor %}

					</div><!-- workshop ends -->
				{% else %}
					<!-- break?other structure dynamic -->
					<div class="row item item-other">

						<div class="col-md-4">
							<div class="meta">
								<h4 class="time center-align">{{ talk.time }}</h4>
							</div><!--//meta-->
						</div>

						{% for track in talk.tracks %}
							<div class="col-md-8">
								<div class="content">
									<h3 class="title">{{ track.title}}</h3>
								</div><!--//content-->
							</div>
						{% endfor %}

					</div><!-- workshop ends -->
				{% endif %}

			{% endfor %}
		{% endfor %}
		</div><!--//tab-2-content-->
	</div><!--//schedule-tab-content-->


		<div class="schedule-cta text-center mx-auto">
			<a href="assets/PyConf_Hyderabad_Schedule.pdf" class="btn btn-primary btn-lg mr-md-2 d-block d-md-inline-block mb-3 mb-md-0" target="_blank">Download Schedule</a>
		</div>
	</div><!--//container-->
</section><!--//schedule-section-->
