<section id="sponsors-section" class="sponsors-section section">
	<div class="container">
		<h3 class="section-heading text-center mb-3">Sponsors &amp; Partners</h3>
		<div class="section-intro text-center single-col-max mx-auto mb-5">Want to become a sponsor? Get in touch lorem
			ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis.</div>
		<div class="row logos justify-content-center">

			{% for sponsor in site.data.sponsors %}
			<div class="logo-item col-6 col-md-4 col-lg-2">
				<img src="assets/images/logos/{{ sponsor.name }}.svg" alt="{{ sponsor.name }}">
			</div>
			{% endfor %}
		</div>
		<!--//row-->
		<div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="#">Become A Sponsor</a></div>
	</div>
	<!--//container-->
</section>
<!--//sponsors-section-->