	<section id="tickets-section" class="tickets-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Tickets</h3>

			<div class="row pricing mb-5">
				<div class="col-12 col-md-3 p-2 p-lg-3">
					<div class="card rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Early Bird</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center mb-3"><span class="currency">&#8377;</span><span class="number">800</span></div>
								<div class="desc px-3">
									Access to Conference on 8th Dec 2019.
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-warning disabled">Sold Out</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-md-3 p-2 p-lg-3">
					<div class="card rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Regular</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center mb-3"><span class="currency">&#8377;</span><span class="number">1000</span></div>
								<div class="desc px-3">
									Access to Conference on 8th Dec 2019. Purchase before 7th Dec 2019.
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-warning disabled">Sold Out</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-md-3 p-2 p-lg-3">
					<div class="card card-special rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Late Bird</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center"><span class="currency">&#8377;</span><span class="number">1200</span></div>
								<div class="desc px-3">
									Access to Conference on 8th Dec 2019. Purchase before 7th Dec 2019.
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" target="_blank" class="btn btn-warning disabled">Sold Out</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-md-3 p-2 p-lg-3">
					<div class="card rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Workshop/Devsprint</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center mb-3"><span class="currency">&#8377;</span><span class="number">750</span></div>
								<div class="desc px-3">
									Full Day pass for Workshop/Devsprints on 7th Dec 2019. Attendee can attend any Workshop/Devsprint of choice. Purchase before 7th Dec 2019. 						    
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-warning disabled">Sold Out</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
			</div><!--//pricing-->
			
			{% comment %} <div class="offers text-center bg-white p-4 p-lg-5">
				<h4 class="mb-3">What's included?</h4>
				<ul class="offers-list list-unstyled d-inline-block mx-auto text-left">
					<li><span class="icon-holder mr-2"><i class="fas fa-user-tie"></i></span>60+ talks from industry-leading speakers</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-people-carry"></i></span>Access to 40+ workshops</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-glass-cheers"></i></span>Amazing after-parties</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-utensils"></i></span>FREE drinks, refreshments, lunch and dinner</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-tshirt"></i></span>FREE <a href="https://made4dev.com/" target="_blank">premium developer tees from made4dev</a></li>
					<li><span class="icon-holder mr-2"><i class="fas fa-book"></i></span>FREE Udemy courses</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-gift"></i></span>FREE <a href="https://themes.3rdwavemedia.com/freebies/" target="_blank">Bootstrap templates and digital resources</a> for developers worth over $100</li>
				</ul><!--offers-list-->
			</div><!--//offers--> {% endcomment %}

		</div><!--//container-->
	</section><!--//tickets-section-->
