	<section id="tickets-section" class="tickets-section section theme-bg-light">
		<div class="container">
			<h3 class="section-heading text-center mb-3">Tickets</h3>
			<div class="section-intro single-col-max mx-auto text-center mb-4">You can use 3rd party platforms such as <a class="theme-link" href="https://www.eventbrite.com/" target="_blank">eventbrite</a> and <a class="theme-link" href="https://www.tickettailor.com/" target="_blank">tickettailor</a> to sell your tickets.</div>
			
			<div class="row pricing mb-5">
				<div class="col-12 col-md-4 p-2 p-lg-4">
					<div class="card rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Super Early Bird</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center mb-3"><span class="currency">$</span><span class="number">250</span></div>
								<div class="desc px-3">
									Purchase before 1st Oct 2019. Only 50 tickets available. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-primary disabled">SOLD OUT</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-md-4 p-2 p-lg-4">
					<div class="card card-special rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Early Bird</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center"><span class="currency">$</span><span class="number">350</span></div>
								<div class="desc px-3">
									Purchase before 1st June 2020. Only 100 tickets available. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-primary">Buy Now</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-12 col-md-4 p-2 p-lg-4">
					<div class="card rounded-0 border-0">
						<div class="card-body p-0">
							<div class="heading  text-center p-3">
								<h4 class="text-white mb-0">Regular</h4>
							</div>
							<div class="info p-3">
								<div class="price-figure text-center mb-3"><span class="currency">$</span><span class="number">500</span></div>
								<div class="desc px-3">
									Additional freebies and benefits included. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 						    
								</div>
							</div><!--//info-->
						</div><!--//card-body-->
						<div class="card-footer text-center">
							<a href="#" class="btn btn-primary">Buy Now</a>
						</div>
					</div><!--//card-->
				</div><!--//col-->
			</div><!--//pricing-->
			
			{% comment %} <div class="offers text-center bg-white p-4 p-lg-5">
				<h4 class="mb-3">What's included?</h4>
				<ul class="offers-list list-unstyled d-inline-block mx-auto text-left">
					<li><span class="icon-holder mr-2"><i class="fas fa-user-tie"></i></span>60+ talks from industry-leading speakers</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-people-carry"></i></span>Access to 40+ workshops</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-glass-cheers"></i></span>Amazing after-parties</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-utensils"></i></span>FREE drinks, refreshments, lunch and dinner</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-tshirt"></i></span>FREE <a href="https://made4dev.com/" target="_blank">premium developer tees from made4dev</a></li>
					<li><span class="icon-holder mr-2"><i class="fas fa-book"></i></span>FREE Udemy courses</li>
					<li><span class="icon-holder mr-2"><i class="fas fa-gift"></i></span>FREE <a href="https://themes.3rdwavemedia.com/freebies/" target="_blank">Bootstrap templates and digital resources</a> for developers worth over $100</li>
				</ul><!--offers-list-->
			</div><!--//offers--> {% endcomment %}

		</div><!--//container-->
	</section><!--//tickets-section-->