<section id="venue-section" class="venue-section section theme-bg-primary text-white">
	<div class="container">
		<h3 class="section-heading text-center text-white py-3">Event Venue</h3>
		<div class="row">
			<div class="col-12 col-lg-5 text-center">
				<div class="figure"><img class="shadow" src="assets/images/venue/iiith.jpg" alt=""></div>
				<h3 class="text-white section-heading">Conference</h3>
				<p class="font-weight-bold">IIIT Hyderabad, Gachibowli</p>
			</div><!--//col-->
			<div class="offset-lg-2 col-12 col-lg-5 text-center">
				<div class="figure"><img class="shadow" src="assets/images/venue/T-Hub.jpg" alt=""></div>
				<h3 class="text-white">Workshop</h3>
				<p class="font-weight-bold">T-Hub, IIIT Hyderabad Campus,Gachibowli</p>
			</div><!--//col-->
		</div><!--//row-->
	</div><!--//container-->
</section><!--//venue-section-->
<section id="venue-map-section" class="venue-map-section">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.3114333137555!2d78.34757171434!3d17.444801888044285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bce0a03f17ff82b%3A0x9d02e89b98deb496!2sIIIT%20Hyderabad!5e0!3m2!1sen!2sin!4v1570339090084!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" allowfullscreen></iframe>	
</section>
