<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
	<div class="container">
		<h3 class="section-heading text-center mb-5 text-white">Venue</h3>
		<div class="row py-lg-5">
			<div class="col-12 col-lg-7 h-100">
				<div class="desc">
					<h4 class="text-white mb-3">IIIT Hyderabad, Gachibowli</h4>
					<p>International Institute of Information Technology, Hyderabad (IIITH) is an
          autonomous university, founded as a not-for-profit public private partnership
          (N-PPP) in 1998, and is the first IIIT in India under this model. Over the years,
          the institute has evolved strong research programmes in various areas, with an
          emphasis on technology and applied research for industry and society.</p>

          <p>IIIT Hyderabad is being the host of PyConf Hyderabad for the second time. All the
            Workshops, Devsprints and Talks will be held within the IIIT Hyderabad premises for
            both the days.
          </p>

					<div class="row pt-3">
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-plane-departure mr-2"></i>By Plane</h5>
								<p>Ideal for International Attendees or Attendees coming from Northern/Eastern parts of India.</p>
								<a class="text-white" href="travel.html#by-plane---rajiv-gandhi-international-airport">More Info &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-car mr-2"></i>By Car</h5>
								<p>Ideal for Attendees from Southern, Western or Central parts of India.</p><br/>
								<a class="text-white" href="travel.html#by-car">More Info &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-bus-alt mr-2"></i>By Bus</h5>
								<p>Ideal for Attendees from Southern or Western parts of India.</p><br/>
								<a class="text-white" href="travel.html#by-bus">More Info &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
						<div class="col-12 col-md-6 mb-4">
							<div class="grid-item p-4">
								<h5 class="text-white mb-3 title"><i class="fas fa-subway mr-2"></i>By Train</h5>
								<p>Ideal for Attendees all over India. Best preferred for a budget Travel plan.</p>
								<a class="text-white" href="travel.html#by-train---secundrabad-or-hyderabad">More Info &rarr;</a>
							</div><!--//grid-item-->
						</div><!--col-->
					</div><!--//row-->
					<!-- <h4 class="text-white mb-4 mt-3 mt-lg-5">Facilities &amp; Accommodations</h4>
					<p>Your venue info goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis. Duis non augue porttitor, fringilla velit vitae, ultricies eros. Sed libero eros, tristique ac orci nec, hendrerit dictum lacus. Aenean iaculis massa felis, eget venenatis turpis lacinia sit amet. </p>
					<a class="btn btn-ghost" href="#">Search Hotels</a> -->
				</div><!--//desc-->
			</div><!--//col-->
			<div class="col-12 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
				<div class="figures-holder">
					<div class="figure figure-1"><img class="shadow" src="assets/images/venue/iiith-design.jpg" alt=""></div>
					<div class="figure figure-2"><img class="shadow" src="assets/images/venue/iiith-premises.jpg" alt=""></div>
					<div class="figure figure-3"><img class="shadow" src="assets/images/venue/iiith-building.jpg" alt=""></div>
					<!-- <div class="figure figure-4"><img class="shadow" src="assets/images/venue/venue-4.jpg" alt=""></div> -->
				</div><!--//figures-holder-->
			</div><!--//col-->
		</div><!--//row-->
	</div><!--//container-->
</section><!--//venue-section-->
<section id="venue-map-section" class="venue-map-section">
	<iframe title="Google Maps - iiit venue location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.3114333137555!2d78.34757171434!3d17.444801888044285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bce0a03f17ff82b%3A0x9d02e89b98deb496!2sIIIT%20Hyderabad!5e0!3m2!1sen!2sin!4v1570339090084!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" allowfullscreen></iframe>	
</section>
