---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<!-- head section  -->
{% include head.html %}

<body>

    <!-- header section -->
    {% include header.html %}

    <!-- hero block  -->
    {% include hero-block.html %}

    <!-- stats-block -->
    {% comment %} {% include stats-block.html %} {% endcomment %}

    <!-- about section -->
    {% include about-section.html %}

    <!-- speakers section -->
    {% comment %} {% include speakers-section.html %} {% endcomment %}

    {% comment %} <div class="container">
        <hr>
    </div> {% endcomment %}

    <!-- schedule section -->
    {% include schedule-section.html %}

    <!-- tickets section -->
    {% comment %} {% include tickets-section.html %} {% endcomment %}

    <!-- venue section -->
    {% include venue-section.html %}

    <!-- sponsors section  -->
    {% comment %} {% include sponsors-section.html %} {% endcomment %}

    <!-- footer section -->
    {% include footer.html %}

    <!-- Modal Speaker -->
    <div class="modal modal-speaker modal-speaker-1" id="modal-speaker-1" tabindex="-1" role="dialog"
        aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="speaker-1-ModalLabel" class="modal-title sr-only">Speaker Name</h4>
                </div>
                <div class="modal-body p-0">
                    <div class="media flex-column flex-md-row theme-bg-light p-4 p-lg-5">
                        <img class="profile-image mb-3 mb-md-0 mr-md-4 rounded-circle mx-auto"
                            src="assets/images/speakers/speaker-1.jpg" alt="" />

                        <div class="media-body text-center text-md-left mx-auto">
                            <h2 class="name mb-2">Speaker Name</h2>
                            <div class="meta">Job Title Or Position</div>
                            <div class="meta mb-2">Company Or Organization</div>
                            <ul class="social-list list-inline mb-0">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            </ul>
                            <!--//social-list-->
                        </div>
                        <!--//media-body-->
                    </div>
                    <!--//media-->

                    <div class="desc p-4 p-lg-5">
                        <p>You can put speaker's bio or talk related info here. Duis a mi quis metus porttitor eleifend.
                            Pellentesque finibus ultrices imperdiet. Maecenas auctor tortor quis risus tincidunt, mattis
                            mattis leo placerat. Fusce metus augue, sagittis eget enim vel, venenatis auctor est. In
                            interdum felis massa, ac porta nunc pretium non. In fringilla orci vitae imperdiet
                            malesuada. Vestibulum feugiat lobortis est, in sagittis nisi molestie vel. Mauris ultrices
                            vitae lectus eu feugiat. Fusce semper, nisi at placerat mollis, augue elit pretium enim, eu
                            pellentesque justo purus et lectus. </p>
                        <p class="mb-0">Donec neque magna, molestie vel varius ut, pretium a urna. Pellentesque placerat
                            nunc eu condimentum pellentesque. Vivamus dictum nisl leo, id fermentum lectus porttitor et.
                            Pellentesque tristique erat libero, condimentum porttitor nisl pharetra et.</p>
                    </div>
                </div>
                <!--//modal-body-->
            </div>
            <!--//modal-content-->
        </div>
        <!--//modal-dialog-->
    </div>
    <!--//modal-->

    <!-- scripts include -->
    {% include scripts.html %}

</body>

</html>