---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<!-- head section  -->
{% include head.html %}

<body>

    <!-- header section -->
    {% include header.html %}

    <!-- hero block  -->
    {% include hero-block.html %}

    <!-- stats-block -->
    {% comment %} {% include stats-block.html %} {% endcomment %}

    <!-- about section -->
    {% include about-section.html %}

    <!-- speakers section -->
    {% include speakers-section.html %}

    <!-- schedule section -->
    {% include schedule-section.html %}

    <!-- tickets section -->
    {% include tickets-section.html %}

    <!-- venue section -->
    {% include venue-section.html %}

    <!-- sponsors section  -->
    {% include sponsors-section.html %}

    <!-- footer section -->
    {% include footer.html %}

    <!-- Modal Speaker -->
    {% include modal-speaker.html %}
    
    <!-- Modal Sponsor -->
    {% include modal-sponsor.html %}

    <!-- scripts include -->
    {% include scripts.html %}

</body>

</html>